.bashrc
.directory
.env
.gcloudignore
.gitignore
.DS_Store
http-client.private.env.json

*.code-workspace
*.csv
*.log
*.odt
*.py[cod]
*.pdf
*.sql
*.sqlite3
*.xlsx

__pycache__/

/.idea
/.git
/.github
/.venv
/.vscode
/poetry.lock
/tests
/venv
